@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "Index";
}

<div class="">
    <h2 class="text-center">Our TOP Products</h2>
    @{
        var item = ViewBag.item;
        foreach (var i in item)
        {
            <div class="prod-list prod-list-table">
                <div id="img-holder-@i.id" style="margin: auto">
                    <a href="product/detail/@i.id">
                        <img src=@i.img_url class="img-grid">
                    </a>
                </div>
                <div class="prod-desc">
                    <h4>Rp @i.price</h4>
                    <h5><a href="product/detail/@i.id">@i.name</a></h5>
                    @i.desc
                </div>
                <div>
                    <a href="https://localhost:5001/cart/add/@i.id">
                        <img src="cart.png" class="cart-btn">
                    </a>
                </div>
            </div>
        }
    }
    @{var pager = ViewBag.pager;}
    @if(pager.EndPage>1)
    {
        <ul class="pagination">
            @if(pager.CurrentPage>1)
            {
                <li>
                    <a href="~/Home/Index">First</a>
                </li>
                <li>
                    <a href="~/Home/Index?page=@(pager.CurrentPage-1)">Previous</a>
                </li>
            }

            @for(var p=pager.StartPage; p<=pager.EndPage; p++)
            {
                <li class="@(p==pager.CurrentPage ? "active" :"")">
                    <a href="~/Home/Index?page=@p">@p</a>
                </li>
            }

            @if(pager.CurrentPage<pager.TotalPages)
            {
                <li>
                    <a href="~/Home/Index?page=@(pager.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a href="~/Home/Index?page=@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>
