@{
    ViewData["Title"] = "All itemin cart";
}
<h1>@ViewData["Title"]</h1>

<div class="">
    @{
        var items = ViewBag.Items;
        foreach (var i in items)
        {
            <div class="prod-list prod-list-table">
                <div id="img-holder-@i.id" style="margin: auto">
                    <a href="product/detail/@i.id">
                        <img src=@i.img_url class="img-grid">
                    </a>
                </div>
                <div class="prod-desc">
                    <h5>@i.name (Rp @i.itemPrice)</h5>
                    <h5>Jumlah :</h5>
                    <input id="input-@i.id" type="text" class="" value="@i.qty" size="17" style="margin-bottom:5px"><br>
                    <input id="btn-@i.id" type="button" class="btn btn-success" value="Update" onclick="javascript: submitUpdate(this)" />
                    <input id="btnRmv-@i.id" type="button" class="btn btn-danger" value="Remove" onclick="javascript: removeItem(this)" /><br><br>
                    <h5>Subtotal : @i.totItemPrice</h5>
                </div>
                <div>
                </div>
            </div>
        }
    }
    <h2>Total Price : @ViewBag.totalPrice</h2>
</div>

<script type="text/javascript">
    function submitUpdate(btn)
    {
        var id = btn.id
        id = id.substring(4, id.length);
        var inputId = 'input-'+ id;
        var val = document.getElementById(inputId).value;
        var url = "https://localhost:5001/Cart/update?id=" + id + "&val=" + val;
        window.location.href = url;
    }  

    function removeItem(btn)
    {
        var id = btn.id
        id = id.substring(7, id.length);
        var url = "https://localhost:5001/Cart/remove/"+id;
        window.location.href = url;
    }    
</script>