@* {{{{{{{{{{{{{{{{{{{{{{{{{[{{{ data passing using model, not using ViewBag }}}]}}}}}}}}}}}}}}}}}}}}}}}}} *@

@model belajarRazor.Models.IndexViewModel

@{
    ViewData["Title"] = "All Products";
}

<div class="">
    <h2 class="text-center">All Products</h2>
    <div class="order-opt">
        <div>
            <form>
            <select id="order-sel" name="order-opt" style="width: 200px; height: 30px">
                <option value="0">-Ordering type-</option>
                <option value="1">Lower price</option>
                <option value="2">Higher price</option>
                <option value="3">Name ascending</option>
                <option value="4">Name descending</option>
                <option value="5">Lastest Created</option>
                <option value="6">Older Created</option>
                <option value="7">Lastest Updated</option>
                <option value="8">Older Update</option>
            </select>
            @* <input type="submit" value="Submit"> *@
            <input id="order-btn" type="button" class="btn btn-danger" onclick="javascript: setOrder(this)" value="Set" />
        </form>
        </div>
        <div>
            <form>
                <input id="searchFilter" type="text" placeholder="search" name="filter" value="@ViewBag.filter" style="width: 200px; height: 30px">
                @* <button type="submit">Go</button> *@
                <input id="search-btn" type="button" class="btn btn-danger" onclick="javascript: setSearch(this)" value="Go" />
            </form>
        </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editorModal">Add</button>
    @foreach (var i in Model.Items)
    {
        <div class="prod-list prod-list-table">
            <div id="img-holder-@i.id" style="margin: auto">
                <a href="/admin/product/detail/@i.id">
                    <img id="img-@i.id" src=@i.img_url class="img-grid">
                </a>
            </div>
            <div class="prod-desc">
                <h4 id="prc-@i.id">Rp @i.price</h4>
                <h5><a id="name-@i.id" href="/admin/product/detail/@i.id">@i.name</a></h5>
                <div id="desc-@i.id">@i.description</div>
                <div id="rat-@i.id">Rating : @i.rating</div>
            </div>
            <div>
                @* <a href="~/admin/product/edit/@i.id"> *@
                <a id="btn-@i.id" onclick="javascript: setEdit(this)">
                    <img src="~/edit.png" class="cart-btn">
                </a>
                <a href="~/admin/product/delete/@i.id">
                    <img src="~/delete.png" class="cart-btn">
                </a>
            </div>
        </div>
    }
    @* pager *@
    <div class="pagination-div">
        <div name="page-list-count">
            @if(Model.Pager.EndPage>1)
            {
                <ul class="pagination">
                    @if(Model.Pager.CurrentPage>1)
                    {
                        <li>
                            <a href="~/admin/Product/Index?&perpage=@ViewBag.perPage&filter=@ViewBag.filter&order=@ViewBag.order">First</a>
                        </li>
                        <li>
                            <a href="~/admin/Product/Index?page=@(Model.Pager.CurrentPage-1)&perpage=@ViewBag.perPage&filter=@ViewBag.filter&order=@ViewBag.order">Previous</a>
                        </li>
                    }

                    @for(var p=Model.Pager.StartPage; p<=Model.Pager.EndPage; p++)
                    {
                        <li class="@(p==Model.Pager.CurrentPage ? "active" :"")">
                            <a href="~/admin/Product/Index?page=@p&filter=@ViewBag.filter&order=@ViewBag.order&perpage=@ViewBag.perPage">@p</a>
                        </li>
                    }

                    @if(Model.Pager.CurrentPage<Model.Pager.TotalPages)
                    {
                        <li>
                            <a href="~/admin/Product/Index?page=@(Model.Pager.CurrentPage + 1)&filter=@ViewBag.filter&order=@ViewBag.order&perpage=@ViewBag.perPage">Next</a>
                        </li>
                        <li>
                            <a href="~/admin/Product/Index?page=@(Model.Pager.TotalPages)&filter=@ViewBag.filter&order=@ViewBag.order&perpage=@ViewBag.perPage">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>
        <div name="per-page-set" style="margin: auto">
            <input id="item-per-page" type="text" placeholder="..." name="filter" value="@ViewBag.perPage" style="width: 50px; height: 30px">
            <input id="page-set-btn" type="button" class="btn btn-danger" onclick="javascript: setItemPerPage(this)" value="Set Page" />
        </div>
    </div>

    <div class="modal fade" id="editorModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add/Edit Products</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @* <form id="modal-form" asp-action="AddProduct" asp-controller="Product" method="post"> *@
                    <form id="modal-form" action="https://localhost:5001/admin/product/AddProduct" method="post">
                        <label for="modal-name">Nama Barang</label>
                        <input id="modal-name" type="text" name="name" placeholder="name" class="form-control">
                        <label for="modal-desc">Deskripsi barang</label>
                        <input id="modal-desc" type="text" name="description" placeholder="description" class="form-control">
                        <label for="modal-url">Gambar(url)</label>
                        <input id="modal-url" type="text" name="img_url" placeholder="img_url" class="form-control">
                        <label for="modal-prc">Harga</label>
                        <input id="modal-prc" type="text" name="price" placeholder="price" class="form-control">
                        <label for="modal-rat">Rating barang</label>
                        <input id="modal-rat" type="text" name="rating" placeholder="rating" class="form-control"><br>
                        <input id="modal-id" type="text" name="id" value="0" hidden>
                        <div class="d-flex justify-content-center">
                            <input id="modal-snd-btn" type="submit" value="Buat iklan" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="ProccessUpload" asp-controller="Product" method="post" enctype="multipart/form-data">
        <input type="file" name="files" value="files">
        <input type="submit" value="Upload">
    </form>
</div>


<script type="text/javascript">
    function setOrder(btn)
    {
        if(document.getElementById("order-sel").value != 0)
        {
            var filter = '@ViewBag.filter';
            var perPage = '@ViewBag.perPage';
            var orderVal = document.getElementById("order-sel").value;
            var url = "https://localhost:5001/admin/Product/Index?order=";
            url += orderVal + "&filter=" + filter + "&perpage=" + perPage;
            window.location.href = url;
        }
    }

    function setSearch(btn)
    {
        var order = '@ViewBag.order';
        var perPage = '@ViewBag.perPage';
        var filterVal = document.getElementById("searchFilter").value;
        var url = "https://localhost:5001/admin/Product/Index?filter=";
        url += filterVal + "&order=" + order + "&perpage=" + perPage;
        window.location.href = url;
    }

    function setLastOrderVal()
    {
        var selValue = '@ViewBag.order';
        if(selValue != "")
            document.getElementById("order-sel").value = selValue;
    }

    function setItemPerPage()
    {
        var order = '@ViewBag.order';
        var filter = '@ViewBag.filter';
        var perPage = document.getElementById("item-per-page").value;
        url = "https://localhost:5001/admin/Product/Index?perpage=";
        url += perPage + "&filter=" + filter + "&order=" + order;
        window.location.href = url;
    }

    window.onload = setLastOrderVal;
    
    var input = document.getElementById("searchFilter");
    input.addEventListener("keyup", function(event) 
    {
        if (event.keyCode === 13) 
        {
            console.log("enter");
            event.preventDefault();
            document.getElementById("search-btn").click();
        }
    });

    function setEdit(btn)
    {
        var id = btn.id;
        id = id.substring(4, id.length);
        var name = document.getElementById("name-"+id).innerHTML;
        var description = document.getElementById("desc-"+id).innerHTML;
        var price = document.getElementById("prc-"+id).innerHTML;
        var rating = document.getElementById("rat-"+id).innerHTML;
        var img_src = document.getElementById("img-"+id).src;

        price = price.substring(3, price.length);
        rating = rating.substring(9, rating.length);

        document.getElementById("modal-id").value = id;
        document.getElementById("modal-name").value = name;
        document.getElementById("modal-desc").value = description;
        document.getElementById("modal-url").value = img_src;
        document.getElementById("modal-prc").value = price;
        document.getElementById("modal-rat").value = rating;
        document.getElementById('modal-snd-btn').value = "Edit";
        document.getElementById("modal-form").action = "https://localhost:5001/Admin/product/update";

        $("#editorModal").modal();

    }
</script>