@* {{{{{{{{{{{{{{{{{{{{{{{{{[{{{ data passing using model, not using ViewBag }}}]}}}}}}}}}}}}}}}}}}}}}}}}} *@

@model belajarRazor.Models.IndexViewModel

@{
    ViewData["Title"] = "All Products";
}

<div class="">
    <h2 class="text-center">All Products</h2>
    <div class="order-opt">
        <div>
            <form>
            <select id="order-sel" name="order-opt" style="width: 200px; height: 30px">
                <option value="0">-Ordering type-</option>
                <option value="1">Lower price</option>
                <option value="2">Higher price</option>
                <option value="3">Name ascending</option>
                <option value="4">Name descending</option>
                <option value="5">Lastest Created</option>
                <option value="6">Older Created</option>
                <option value="7">Lastest Updated</option>
                <option value="8">Older Update</option>
            </select>
            @* <input type="submit" value="Submit"> *@
            <input id="order-btn" type="button" class="btn btn-danger" onclick="javascript: setOrder(this)" value="Set" />
        </form>
        </div>
        <div>
            <form>
                <input id="searchFilter" type="text" placeholder="search" name="filter" value="@ViewBag.filter" style="width: 200px; height: 30px">
                @* <button type="submit">Go</button> *@
                <input id="search-btn" type="button" class="btn btn-danger" onclick="javascript: setSearch(this)" value="Go" />
            </form>
        </div>
    </div>
    <a href="~/product/add">Add</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch ADD modal
    </button>
    @foreach (var i in Model.Items)
    {
        <div class="prod-list prod-list-table">
            <div id="img-holder-@i.id" style="margin: auto">
                <a href="product/detail/@i.id">
                    <img src=@i.img_url class="img-grid">
                </a>
            </div>
            <div class="prod-desc">
                <h4>Rp @i.price</h4>
                <h5><a href="product/detail/@i.id">@i.name</a></h5>
                <div id="desc-@i.id">@i.desc</div>
                <div id="rat-@i.id">Rating : @i.rating</div>
            </div>
            <div>
                <a href="~/product/edit/@i.id">
                    <img src="~/edit.png" class="cart-btn">
                </a>
                <a href="~/product/delete/@i.id">
                    <img src="~/delete.png" class="cart-btn">
                </a>
            </div>
        </div>
    }
    @* pager *@
    <div class="pagination-div">
        <div name="page-list-count">
            @if(Model.Pager.EndPage>1)
            {
                <ul class="pagination">
                    @if(Model.Pager.CurrentPage>1)
                    {
                        <li>
                            <a href="~/Product/Index?&perpage=@ViewBag.perPage&filter=@ViewBag.filter&order=@ViewBag.order">First</a>
                        </li>
                        <li>
                            <a href="~/Product/Index?page=@(Model.Pager.CurrentPage-1)&perpage=@ViewBag.perPage&filter=@ViewBag.filter&order=@ViewBag.order">Previous</a>
                        </li>
                    }

                    @for(var p=Model.Pager.StartPage; p<=Model.Pager.EndPage; p++)
                    {
                        <li class="@(p==Model.Pager.CurrentPage ? "active" :"")">
                            <a href="~/Product/Index?page=@p&filter=@ViewBag.filter&order=@ViewBag.order&perpage=@ViewBag.perPage">@p</a>
                        </li>
                    }

                    @if(Model.Pager.CurrentPage<Model.Pager.TotalPages)
                    {
                        <li>
                            <a href="~/Product/Index?page=@(Model.Pager.CurrentPage + 1)&filter=@ViewBag.filter&order=@ViewBag.order&perpage=@ViewBag.perPage">Next</a>
                        </li>
                        <li>
                            <a href="~/Product/Index?page=@(Model.Pager.TotalPages)&filter=@ViewBag.filter&order=@ViewBag.order&perpage=@ViewBag.perPage">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>
        <div name="per-page-set" style="margin: auto">
            <input id="item-per-page" type="text" placeholder="..." name="filter" value="@ViewBag.perPage" style="width: 50px; height: 30px">
            <input id="page-set-btn" type="button" class="btn btn-danger" onclick="javascript: setItemPerPage(this)" value="Set Page" />
        </div>
    </div>

    <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add/Edit Products</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
            </div>
            </form>
    
            @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post))
            {
                <table>
                    <tr>
                        <td>Nama produk: </td>
                        <td>@Html.TextBox("name")</td>
                    </tr>
                    <tr>
                        <td>Deskripsi: </td>
                        <td>@Html.TextBox("desc")</td>
                    </tr>
                    <tr>
                        <tr>
                        <td>Gambar: </td>
                        <td>@Html.TextBox("img_url")</td>
                    </tr>
                    <tr>
                        <td>Harga: </td>
                        <td>@Html.TextBox("price")</td>
                    </tr>
                    <tr>
                        <td>Rating: </td>
                        <td>@Html.TextBox("rating")</td>
                    </tr>
                    <tr>
                    <tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Submit"></td>
                    </tr>
                </table>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
        </div>
        </div>
    </div>
    </div>
</div>


<script type="text/javascript">
    function setOrder(btn)
    {
        if(document.getElementById("order-sel").value != 0)
        {
            var filter = '@ViewBag.filter';
            var perPage = '@ViewBag.perPage'
            var orderVal = document.getElementById("order-sel").value;
            var url = "https://localhost:5001/Product/Index?order=";
            url += orderVal + "&filter=" + filter + "&perpage=" + perPage;
            window.location.href = url;
        }
    }

    function setSearch(btn)
    {
        var order = '@ViewBag.order';
        var perPage = '@ViewBag.perPage'
        var filterVal = document.getElementById("searchFilter").value;
        var url = "https://localhost:5001/Product/Index?filter=";
        url += filterVal + "&order=" + order + "&perpage=" + perPage;
        window.location.href = url;
    }

    function setLastOrderVal()
    {
        var selValue = '@ViewBag.order';
        if(selValue != "")
            document.getElementById("order-sel").value = selValue;
    }

    function setItemPerPage()
    {
        var order = '@ViewBag.order';
        var filter = '@ViewBag.filter';
        var perPage = document.getElementById("item-per-page").value;
        url = "https://localhost:5001/Product/Index?perpage=";
        url += perPage + "&filter=" + filter + "&order=" + order;
        window.location.href = url;
    }

    window.onload = setLastOrderVal;
    
    var input = document.getElementById("searchFilter");
    input.addEventListener("keyup", function(event) 
    {
        if (event.keyCode === 13) 
        {
            console.log("enter");
            event.preventDefault();
            document.getElementById("search-btn").click();
        }
    });
</script>